<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th></th>
            <th>插件</th>
            <th>指标</th>
            <th>别名</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {{#each index in index_list}}
        <tr>
            <td><input type="checkbox" /></td>
            <td>index.pluginName</td>
            <td>index.kpi</td>
            <td>index.alias</td>
            <td><a href="#">移除</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<div class="panel-footer">
    <button class="btn btn-default" {{action 'show_index_form'}}>移除选中</button>
    <button class="btn btn-default" {{action 'show_index_form'}}>增加指标</button>
</div>