<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th></th>
            <th>插件</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="checkbox" /></td>
            <td>a</td>
            <td><a href="#">移除</a></td>
        </tr>
    </tbody>
</table>
<div class="panel-footer">
    <button class="btn btn-default" {{action 'show_add_form'}}>移除选中</button>
    <button class="btn btn-default" {{action 'show_plugin_form'}}>增加组件</button>
</div>