<div class="panel panel-default">
    <div class="panel-heading">{{t installer.step0.header}}</div>
    <div class="panel-body">
        {{t installer.step0.welcome}}
    </div>
    <div class="panel-footer">
        <button class="btn btn-primary" {{action 'next'}}>{{t common.next}}</button>
    </div>
</div>