<div class="panel panel-default">
    <div class="panel-heading">配置Plugin</div>
    <div class="panel-body">
        {{view App.Step5PluginConfigContainerView resourceBinding='current_resource' pluginsBinding='plugins'}}
    </div>
    <div class="panel-footer">
        <button class="btn btn-default" {{action 'save_plugin_config' target=view}}>保存</button>
        <button class="btn btn-default" {{action 'close_plugin_config'}}>关闭</button>
    </div>
</div>