<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>模板名称</th>
                <th>模板描述</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        {{#each temp in controller}}
            <tr>
                <td>{{#link-to 'templates.template' temp}}{{temp.name}}{{/link-to}}</td>
                <td>{{temp.description}}</td>
                <td>Delete</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>